In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,r2_score

Read data

In [9]:
movie_data=pd.read_csv("IMDb_Movies_India.csv",encoding='latin1')

Preprocess

In [10]:
movie_data.head()
movie_data.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

remove null rows

In [11]:
movie_data.dropna(inplace=True)

remove duplictes

In [12]:
movie_data.dropna(inplace=True)

In [18]:
movie_data['Name'] = movie_data['Name'].str.extract('([A-Za-z\s\'\-]+)')
print(type(movie_data['Year']))
movie_data['Year'] = movie_data['Year'].astype(str).str.replace(r'[()]', '',regex=True).astype(int)
movie_data['Duration']=pd.to_numeric(movie_data['Duration'].astype(str).str.replace(r' min','',regex=True),errors='coerce')
# df['Duration'] = pd.to_numeric(df['Duration'].str.replace(r' min', '', regex=True), errors='coerce')
movie_data['Votes']=pd.to_numeric(movie_data['Votes'].astype(str).str.replace(',',''),errors='coerce')
movie_data.drop_duplicates(subset=['Name'],inplace=True)
movie_data.drop('Name',axis=1,inplace=True)
movie_data.info()

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
Index: 5283 entries, 1 to 15508
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      5283 non-null   int32
 1   Duration  5283 non-null   int64
 2   Genre     5283 non-null   object
 3   Rating    5283 non-null   float64
 4   Votes     5283 non-null   int64
 5   Director  5283 non-null   object
 6   Actor 1   5283 non-null   object
 7   Actor 2   5283 non-null   object
 8   Actor 3   5283 non-null   object
dtypes: float64(1), int32(1), int64(2), object(5)
memory usage: 521.1+ KB

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Kaustubha Ram\AppData\Local\Temp\ipykernel_30744\1176865097.py:1: SyntaxWarning: invalid escape sequence '\s'
  movie_data['Name'] = movie_data['Name'].str.extract('([A-Za-z\s\'\-]+)')

In [20]:
director_mean=movie_data.groupby('Director')['Rating'].transform('mean')
movie_data['Director_group']=director_mean
actor_1_mean=movie_data.groupby('Actor 1')['Rating'].transform('mean')
movie_data['Actor_1_group']=actor_1_mean
actor_2_mean=movie_data.groupby('Actor 2')['Rating'].transform('mean')
movie_data['Actor_2_group']=actor_2_mean
actor_3_mean=movie_data.groupby('Actor 3')['Rating'].transform('mean')
movie_data['Actor_3_group']=actor_3_mean

Model

In [19]:
model1=RandomForestClassifier()
model2=LinearRegression()
x=movie_data[['Year','Duration','Genre','Votes','Director']]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

NameError: name 'df' is not defined